.AppLayout {
  min-height: 100vh;
  display: flex;
}

.SidepanelWrapper {
  /* no flex-grow */
}

.MainPage {
  flex: 1;
  padding: 24px;

  background: linear-gradient(
    to bottom,
    #87ceeb,   /* sky blue */
    #d9f99d    /* lime green */
  );
}
