.AppLayout {
  min-height: 100vh;
  display: flex;
}

.SidepanelWrapper {
  position: sticky;
  top: 0;               /* sticks to top while scrolling */
  height: 100vh;        /* always full height */
  flex: 0 0 auto;
}

.MainPage {
  flex: 1;
  padding: 24px;

  background: linear-gradient(
    to bottom,
    #87ceeb,   /* sky blue */
    #d9f99d    /* lime green */
  );
}
